
<template name="adminModal_editSSInputQues">
 <!-- Add Fields Modal -->
  <div class="modal fade in" id="adminModal_editSSInputQues" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Edit Success Story Input</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-md-12">
              	<label>Success Story Input</label>
                <input id="ssInputEditQues" type="text" class="form-control">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <label>Input #</label>
                <input id="ssInputNumEditQues" type="number" class="form-control" min="1" max="5000" disabled>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default modalClose" data-dismiss="modal">Cancel</button>
          <button type="button" id="editSSInputDetailsQues" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
</template>