<template name="filter_category">
    <div class="dropdown" id="filter_category">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {{#each category}}
          <li role="presentation"><a role="menuitem" tabindex="-1">{{name}}</a></li>
        {{/each}}
      </ul>
    </div>
</template>