<template name="filter">
    <div class="well bs-sidebar" id="filterSidebar">
      <div class="nav nav-pills nav-stacked">
        <div class="col-md-3">
          <label>Type</label>
          <select id="filter_type" class="form-control" title="Type">
            <option value="project">Project</option>
            <option value="testimonial">Testimonial</option>
            <option value="ss">Success Story</option>
          </select>
        </div>
        <div class="col-md-3">
          <label>Category</label>
          <select id="filter_category" class="form-control">
            <option value="all">All</option>
            {{#each category}}
              <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-md-3">
          <label>Client/Company Name</label>
          <select id="filter_client" class="form-control" title="Choose Author">
            <option value="all">All</option>
            {{#each client}}
              <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-md-3">
          <label>Tag</label>
          <select id="filter_tag" class="form-control">
            <option value="all">All</option>
            {{#each tag}}
              <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div> <!--well bs-sidebar affix-->
</template>