<template name="successStoryView">
  <div class="container successStory-view">

    <div class="page-header">
      <h1>{{project.name}}
        <button class="btn btn-default pull-right open-modal_editSuccessStory" data-toggle="modal" data-target="#modalEdit_successStory"><i class="fa fa-edit"></i>  Edit Success Story</button>
        <button class="btn btn-default pull-right open-modal_deleteSuccessStory" data-toggle="modal" data-target="#modalDelete_successStory"><i class="fa fa-edit"></i>  Delete Success Story</button>
      </h1>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-6">
            <label>Contact Name</label>
            <p>{{author.name}}</p>
          </div>
          <div class="col-md-6">
            <label>Contact Title</label>
            <p>{{author.title}}</p>
          </div>
          <div class="col-md-6">
            <label>Contact Company</label>
            <p>{{author.authorCompany}}</p>
          </div>
          <div class="col-md-6">
            <label>Project</label>
            <p>{{project.name}}</p>
          </div>
          <div class="col-md-6">
            <label>Contact Phone</label>
            <p>{{author.phone}}</p>
          </div>
          <div class="col-md-6">
            <label>Contact Email</label>
            <p><a href="mailto:{{successStory.author.email}}">{{author.email}}</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{#each input}}
        {{#each inputAns}}
          <form>
            <label>{{input}}</label>
            <text>{{inputAns}}</text>
          </form>
        {{/each}}
        {{/each}}
      </div>
    </div>
  </div>

  {{> modalEdit_successStory}}
  {{> modalDelete_successStory}}
</template>