<template name="testimonialItem">
  <div class="col-md-4">
    <div class="panel panel-default projectItem">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{info.pName}} <small>{{info.clientCompany}}</small>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          {{info.testimonial}}
        </p>
      </div>
      <div class="panel-footer">
        <div class="panel-meta pull-left">{{info.category}} <span></span></div>
        <a href="/testimonial/view/{{_id}}" class="pull-right"><small>View Testimonial <i class="fa fa-angle-right"></i></small></a>
      </div>
    </div>
  </div>
</template>