<template name="dashboard">
  <div class="container dashboard page-content-wrapper">
    <div class="page-header">
      <h1>Dashboard</h1>
      <div class="page-header-actions">
        <p>
          <button class="btn btn-default pull-left searchModal">Filter Options</button>
          <button class="btn btn-default pull-right open-modal_addSuccessStory" data-toggle="modal" data-target="#modalAdd_successStory"><i class="fa fa-plus"></i>  Success Story</button>
          <button class="btn btn-default pull-right open-modal_addTestimonial" data-toggle="modal" data-target="#modalAdd_testimonial"><i class="fa fa-plus"></i>  Testimonial</button>
          <button class="btn btn-default pull-right open-modal" data-toggle="modal" data-target="#modalAdd_project"><i class="fa fa-plus"></i> Project</button>
      </p>
      <br><br>
      </div>
    </div>

    <div class="row">
      {{> search2}}
    </div>





    <div id="mainContent" class="container-fluid">
      {{#each projects}}
        {{> projectItem}}
      {{/each}}
    </div>
  </div>

  {{> modalAdd_project}}
  {{> modalAdd_testimonial}}
  {{> modalAdd_successStory}}
</template>