.client ul {

	list-style: none;
	padding: 0;
	margin: 0;

}

.client.headerTitle.h3 {
	text-align: center;

}

.client input[type=file]
{

    width: 90px;
    color: transparent;
    float: left;

}

.client .fileLabel
{
	font-weight: normal;
}