<template name="client">

	<div class="headerTitle">
	  <h3>Clients</h3>
	</div>
	<div class="row">
	  <div class="col-md-10">
	    <input id="clientAdd" type="text" class="form-control">
	    <p><button id="clientAdd_submit" type="submit" class="pull-right btn btn-blue btn-sm"> <i class=" fa fa-plus"> Add Client</i></button>
	    <div class="client">
	    	<input type='file' id="companyLogoImage_upload">
	    	<label class="fileLabel" id="fileLabel">{{uploadFileName}}</label>
	    </div>
	    </p><br><br>
	  </div>
	</div>
	<ul>
	{{#each eachClient}}
	<li><div class="row">
	  <div class="col-md-2">
	    <button class="btn btn-blue btn-xs deleteClient" data-toggle="modal" data-target="#adminModal_deleteClient" data-id="{{_id}}"><i class="fa fa-trash-o icon-large"></i> Delete</button>
	  </div>
	  <div class="col-md-2">
	    <button class="btn btn-blue btn-xs editClient" data-toggle="modal" data-target="#adminModal_editClient" data-id="{{_id}}"><i class="fa fa-edit icon-large"></i> Edit</button>
	  </div>
	  <div class="col-md-4">
	    <p>{{name}}</p>
	  </div>
	  <div class="col-md-4">
	  	<a href="{{companyImage_id this._id}}">
          {{#if isImage this._id}}
	    	<p><img src="{{companyImage_id this._id}}"></p>
	      {{/if}}
	     </a>
	  </div>
	</div></li>
	{{/each}}
	</ul>
	{{> adminModal_editClient}}
    {{> adminModal_deleteClient}}

</template>