 <template name="modalAdd_successStory">
 <!-- Add Fields Modal -->
  <div class="modal fade in" id="modalAdd_successStory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_successStory" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="closeModal" class="close closeModal" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Add Success Story</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            {{#if hidden_successStory}}
              <div class="col-md-2 right-arrow-div">
                <p>Add Contact <i class="fa fa-chevron-right right-arrow"></i></p>
              </div>
            {{else}}
              <div class="col-md-4 left-arrow-div">
                <p>Add Contact <i class="fa fa-chevron-left left-arrow"></i></p>
                {{> sideBar_addAuthor}}
              </div>
            {{/if}}
            <div class="col-md-8">
              <form>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Project Name</label>
                    <select id="projectName_modalSuccessStory" class="form-control" title="Choose Author">
                      <option value=""></option>
                      {{#each project}}
                        <option value="{{_id}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="form-group col-md-6 authorSelect">
                    <label>Client Contact</label>
                    <select id="authorName_modalSuccessStory" class="form-control" title="Choose Author">
                      <option value=""></option>
                      {{#each author}}
                        <option value="{{_id}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label>Success Story Name</label>
                    <input id="successStoryName_modalSuccessStory" class="form-control" type="text">
                  </div>
                </div>
                {{#each SSInput}}
                <div class="row">
                  <div class="form-group col-md-12">
                    <label>{{ques}}</label>
                    <textarea id="ans_{{index}}" class="form-control" rows="4"></textarea>
                  </div>
                </div>
                {{/each}}
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="closeModal" class="btn btn-default closeModal">Cancel</button>
          <button type="button" id="addSuccessStoryDetails" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
</template>