 <template name="modalDelete_successStory">
 <!-- Add Fields Modal -->
  <div class="modal fade in" id="modalDelete_successStory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_deleteSuccessStory" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Delete Success Story</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <p>Success Story will be deleted.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default modalClose" data-dismiss="modal">Cancel</button>
          <button type="button" id="deleteSuccessStory" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>
</template>